.CommandCenterList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.CommandCenterList .semi-spin {
  max-height: 400px;
  overflow: auto;
}

.CommandCenterListItem:hover,
.CommandCenterListItem.is-selected {
  background-color: var(--semi-color-fill-0);
  cursor: pointer;
}
