#root .flexlayout__tabset-selected {
  background-image: none;
  background-color: var(--color-2);
}

body[theme-mode='dark'] {
  color-scheme: dark;
}

body[theme-mode='dark'] .flexlayout__tab {
  background-color: #141414;
}
