name: Release
on:
  push:
    branches: ['main']
  # manually trigger
  workflow_dispatch:
    inputs:
      rebuild:
        type: string
        description: 'Rebuild All Packages'
        required: false
        default: 'false'

# permissions:
#   id-token: write # Required for OIDC
#   contents: read

jobs:
  build:
    uses: ./.github/workflows/ci.yml
    with:
      rebuild: ${{ inputs.rebuild == 'true' }}
    secrets:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  gh-pages-global:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get artifact
        uses: actions/download-artifact@v4
        with:
          name: web-artifacts
          path: ./ui/web/dist

      - name: Deploy UI Web on gh-pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: No-Trade-No-Life/No-Trade-No-Life.github.io
          publish_branch: main
          publish_dir: ./ui/web/dist
          cname: y.ntnl.io

  gh-pages-cn:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get artifact
        uses: actions/download-artifact@v4
        with:
          name: web-artifacts
          path: ./ui/web/dist

      - name: Deploy UI Web on gh-pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY_CN }}
          external_repository: No-Trade-No-Life/gh-pages-cn
          publish_branch: main
          publish_dir: ./ui/web/dist
          cname: y.ntnl.tech

  docker-build:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.bake_file_existence == 'true' }}
    steps:
      # 没有以前那么多 Dockerfile 了，应该不需要清理空间了
      # - name: Free Disk Space (Ubuntu)
      #   uses: jlumbroso/free-disk-space@main
      #   with:
      #     tool-cache: true

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-artifacts
        continue-on-error: true

      - run: |
          tar --use-compress-program=pigz -xvf docker-deploy.tar.gz
        continue-on-error: true

      - name: Check docker bake file existence
        id: check_files
        uses: andstor/file-existence-action@v2
        with:
          files: './common/temp/docker-bake.json'

      - name: Cache Docker layers
        uses: actions/cache@v4
        id: cache
        if: ${{ steps.check_files.outputs.files_exists == 'true' }}
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        if: ${{ steps.check_files.outputs.files_exists == 'true' }}

      - name: Login to GHCR
        uses: docker/login-action@v2
        if: ${{ steps.check_files.outputs.files_exists == 'true' }}
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build And Push Image
        uses: docker/bake-action@v6
        if: ${{ steps.check_files.outputs.files_exists == 'true' }}
        with:
          push: true
          # ISSUE: to remove restriction from git context https://github.com/docker/bake-action?tab=readme-ov-file#git-context
          source: .
          files: ./common/temp/docker-bake.json
          # FYI: https://github.com/docker/bake-action/issues/196#issuecomment-2258979316
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max

  # npm-publish:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   if: ${{ github.event_name == 'workflow_dispatch' }}
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0

  #     - name: Get artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: npm-artifacts
